body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    }

header{
 display:flex;
 flex-direction: row;
 justify-content: space-between;
 margin: 10px 20px 10px 20px;

    }
 
nav li a
{
    padding-right: 20px;
    padding-left: 20px;
}
nav li a:hover
{
    color: #0065FC;
    border-top: 50px  solid #0065FC;
    border-top-width: 5px;
    padding-top: 25px;
    
}


#bloc_recherche{
    padding-left: 20px;
    padding-right: 20px;
}

#entete,
#ancres
{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-left: 300px;
    
}
#entete{
    margin-top: 20px;
}
#inscription{
    color:#0065FC;
}
#recherche{
    display: flex;
}

form {
    
    margin-top: 0em;   
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}
.map {
    background-color: rgb(240, 235, 235);
    color: hsl(214, 78%, 2%);
    border: solid 0px #deebff;
    border-top-left-radius:10px ;
    border-bottom-left-radius: 10px;
    padding: 16px;
    margin-left: 0px;
    margin-right: 0px;
    
}
button{
    background-color: #0065FC;
    color: rgb(247, 249, 252);
    border: solid 0px #deebff;
    border-top-right-radius:10px ;
    border-bottom-right-radius: 10px;
    padding: 16px;
    width: 163px;
    margin-left: 0px;
    font-size: 1em;
    }
 .btnIcon 
    {
     display: none;
    }
#rechercher{
    border-width:0px;
    border:none;
    padding-left: 20px;
    width: 202px;
    font-size: 1em;
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 0.063rem solid;
    border-bottom: #F2F2F2 0.063rem solid;
    padding-top: 15px;
    padding-bottom: 15px;
}
#Filtre{
    display: flex;
    justify-content:left;
    align-items: center;
    }

    #titre{
    font-size: 1.2em;
    margin-left: 10px;
    }
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
}
#liens ul li{
    border: solid 1px #e6e1e1;
    border-radius: 30px;
    justify-content: space-between;
    margin: 20px;
    width: auto;
    }
.titre-filtre {
        margin: 20px;
        font-size: 1.2em;
        }
#liens a:hover
{
    color: #0065FC;

}

ul li i{
    border: solid 1px #deebff;
    border-radius: 30px;
    padding: 20px;
    text-decoration: none;
    background-color: #DEEBFF;
    color: #0065FC;
    
}
ul li a{
    text-decoration: none;
    color: black;
    }
#liens {
justify-content: space-around;
text-decoration: none;
}

#logo
{
display: flex;
flex-direction: row;
justify-content: space-between;
}

#logo img{
    width: 100px;
    height: 50px;
}

nav li
{
    margin-right: 15px;
    
}

nav a
{
    color: black;
    text-decoration: none;
}

#information
{
    display: flex;

}
#information i 
{
    margin-top: 15px;
    margin-right: 10px;
    color: #0065FC;
    }

   

#conteneur{
    
    align-items: center;
    align-content: space-around;
    width: 800px;
    height: 600px;
    background-color:#F2F2F2;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 5px ;
    padding-left: 5px;
    margin-left: 15px;
}
#conteneur h3{
    padding-left: 20px;
}
.card1, .card2, .card3, .card4, .card5, .card6 {
    border: solid 1px #e6e1e1;
    border-radius: 20px;
    background-color: white;

       
}
#stars1{
    padding-left: 10px;
    padding-bottom: 5px;
    
}
#stars1, #étoile5{
    
    color: #F2F2F2;
}
#stars1, #étoile1, #étoile2, #étoile3, #étoile4 {
    
    color:#0065FC;
}
#stars2{
    padding-left: 10px;
}

#stars2, #étoile6, #étoile7, #étoile8, #étoile9, #étoile10 {
    
    color:#0065FC;
}

#stars3{
    padding-left: 10px;
}

#stars3, #étoile11, #étoile12, #étoile13, #étoile14 {
    
    color:#0065FC;
}
#stars4{
    padding-left: 10px;
    padding-bottom: 5px;
}
#stars4, #étoile16, #étoile17, #étoile18 {
    
    color:#0065FC;
}
#stars4, #étoile19, #étoile20 {
    color: #F2F2F2;
}

#stars5{
    padding-left: 10px;
}

#stars5, #étoile21, #étoile22, #étoile23, #étoile24 {
    
    color:#0065FC;
}
#stars5,  #étoile25 {
    color:#F2F2F2;
}

#stars6{
    padding-left: 10px;
}
#stars6, #étoile26, #étoile27, #étoile28, #étoile29, #étoile30 {
    
    color:#0065FC;
}
#conteneur a {
    text-decoration: none;
    color: black;
}
#conteneur a h3 {
    padding-left: 10px;
line-height: 0px;
}
#conteneur a p {
    padding-left: 10px;
    line-height: 0px;
}
#conteneur img {
   
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    justify-content: center;
    object-fit: cover;
    }

#booking1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin:2px 0px 3px 1px;
    padding-bottom: 20px;
}

#booking2 {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   width: 100%;
   margin:2px 0px 3px 1px;

}
aside{
    flex-direction: column;
    background-color:#F2F2F2;
    width: 380px;
    height: 620px;
    margin-left: 25px;
    border-radius: 10px;
    
}
#top-aside{
display: flex;
margin-left: 20px;
padding-top: 10px;
font-size:1.2em ;
}
#chart-line{
    margin-left: 150px;
    margin-top: 15px;
}

aside img {
   
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    justify-content: center;
    object-fit: cover;
    }


section, aside{
    display: flex;
}
aside a{
display: flex;
text-decoration: none;
color: black;
}
.card7, .card8, .card9{
    
    background-color: white;
    border: solid 1px #e6e1e1;
    border-radius: 20px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top:0px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2px;
    height: 130px;

}

#stars7{
    color: #0065FC;
    padding-bottom: 10px;
}
#stars8{
    padding-bottom: 7px;
}
#stars8, #étoile36,#étoile37, #étoile38, #étoile39 {
    color: #0065FC;
    
}
#stars8, #étoile40
{
color:#F2F2F2 ;
}
#stars9{
    margin-top: 20px;
}

#stars9, #étoile41, #étoile42, #étoile43, #étoile44{
    color: #0065FC;
}
#stars9, #étoile45{
    color:#F2F2F2;
}

.card7, #part1, #part2{
display: flex;
flex-direction: column;

}


.card8 #part3, #part4
{
display: flex;
flex-direction: column;

}

.card9 #part5, #part6{
    display: flex;
    flex-direction: column;
}
/*  mise en page du card7  */
.card7 #part2 
{
padding-left: 10px;
}
.card7 #part2 p
{
line-height: 0px;
padding-bottom: 20px;
margin-top: 0px;
}
.card7 #part2 h3
{
font-size: 1.1em;
line-height: 15px;
padding-bottom: 0px;
}
/*  mise en page du card8  */
.card8 #part4 
{
padding-left: 10px;
}

.card8 #part4 p
{
line-height: 0px;
padding-bottom: 10px;
margin-top: 0px;

}
.card8 #part4 h3
{font-size: 1.1em;
line-height: 20px;
padding-bottom: 0px;
}
/*  mise en page du card9  */
.card9 #part6 
{
padding-left: 10px;
}
.card9 #part6 p
{
line-height: 0px;
margin-top: 0px;
}
.card9 #part6 h3
{font-size: 1.1em;
line-height: 15px;
padding-bottom: 0px;
}

/*  mise en page du card10 */
.card10{
    background-color:white;
    border-radius: 20px;
    border: solid 1px #e6e1e1;
    box-shadow: 3px 3px 6px rgb(173, 167, 167);

}
.card10 a img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}

 #act a {
    text-decoration: none;
    color: black;
    text-align:left;
    }
#act p{
    padding-left: 15px;
    
}

/*  mise en page du card11 */

.card11{
    background-color:white;
    border-radius: 20px;
    border: solid 1px #e6e1e1;
    box-shadow: 3px 3px 6px rgb(173, 167, 167);
    margin-bottom: 20px;
}
.card11 a img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
    
}
/*  mise en page du card12 */

.card12{
    background-color:white;
    border-radius: 20px;
    border: solid 1px #e6e1e1;
    box-shadow: 3px 3px 6px rgb(173, 167, 167);
}
.card12 a img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}

/*  mise en page du card13 */
.card13{
    background-color:white;
    border-radius: 20px;
    border: solid 1px #e6e1e1;
    box-shadow: 3px 3px 6px rgb(173, 167, 167);

}
.card13 a img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}

 #act a {
    text-decoration: none;
    color: black;
    text-align:left;
    }
#act p{
    padding-left: 15px;
}

#activites {
    display: flex;
    
}

#act1, #act2, #act3{
    margin-right: 50px;
    
    }

    /*  mise en page du card14*/

 .card14{
        background-color:white;
        border-radius: 20px;
        border: solid 1px #e6e1e1;
        box-shadow: 3px 3px 6px rgb(173, 167, 167);
        margin-bottom: 20px;
    }
 .card14 a img{
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        object-fit: cover;
    }


 /*  mise en page du card15*/


.card15{
        background-color:white;
        border-radius: 20px;
        border: solid 1px #e6e1e1;
        box-shadow: 3px 3px 6px rgb(173, 167, 167);
    }
.card15 a img{
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        object-fit: cover;
    }

#bloc-activites {
    margin-bottom: 50px;
    margin-left: 15px;
}
#act h3{
    margin-left: 15px;
}

/*  footer*/
#à-propos{
    flex-direction: column;
    
}

#nos-heb{
    flex-direction: column;
}
#assis{
    flex-direction: column;
}

footer{
    display: flex;
    text-align: start;
    background-color:#F2F2F2 ;

}
#à-propos{
    flex-direction: column;
}

footer ul li {
    padding-bottom: 10px;
}
h4{
    padding-left: 30px;
}
#rang1, #rang2 {
    margin-right: 150px;
}

 @media all and (max-width: 767px)
{

    header
    {
        flex-direction: column;
        width: auto;
        margin: 0px;
 
    }
    body{
        width: auto;
        margin: 0px;
        padding: 0px;
    }
    #logo img{
       
        width: auto;
        margin-left: 20px;
        margin-top: 10px;
    }

    #entete
    {
        flex-direction: row-reverse;
        margin-right: 0px;
        justify-content:stretch;
    }
    #ancres
   {
    border-bottom: 3px solid #F2F2F2;
    padding-bottom: 10px;
    text-align: center;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;

   }
 

   #ancres li a
   {
       padding-left: 10px;
       padding-right: 20px;
       margin-left: 0px;
       margin-right: 0px;
       font-size: 1.4em;
       border-top: none;
       justify-content: center;
       width: auto;
   }
  
   nav li a:hover
{
    color: #0065FC;
    border-bottom: 3px  solid #0065FC;
    padding-bottom: 12px;
    margin-right: 0px;
    width: auto;
          
}
    nav span{
    position: absolute;
    top: 30px;
    right: 35px;
    font-size: 1.3em;
    order:1;
    border-bottom: none;
    }


    #bloc_page{
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        height: 500px; 
    }


    #bloc_recherche
   {margin-top: 10px; 
    margin-left: 0px;
   }
   
    form {
        border: solid 1px #e6e1e1;
        border-radius: 10px;
        width: 300px;
        height: 35px;
        padding: 0px;
        margin-left: 10px;
        margin-left: 10px;
        display: flex;
    }

     button{
        border-radius: 10px;
        width: 45px;
        margin-left: 20px;
        height: 36px;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-right: 0px;
        padding-top: 5px ;
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 5px;
        
    }
    .btnIcon 
    {
        display: initial;
      
    }
    .btnRechercher{
        display: none;
    }
    .map {
        background-color: rgb(240, 235, 235);
        color: hsl(214, 78%, 2%);
        border: solid 1px #deebff;
        border-radius: 5px;
        padding: 3px;
        padding-bottom: 0px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 8px;
    }
    
       #sous_titre{ 
           padding-left: 15px;

      }
      #Recherche h1{
        padding-left: 15px;
        font-size: 1.3em;
        width: 300px;
      }
    #rechercher
    {
        border-width:0px;
        border:none;
        padding-left: 10px;
        
                
    }
    #information{
        
        margin-left: 30px;
        margin-right: 10px;
    }
    
    #infor{
        text-align:start;
        font-size: 1em;
        width: 280px;
    }
   
    #Filtre
    {
        
    flex-direction: column;
    justify-content:left;
    align-items: flex-start;
    margin-bottom: 10px;
  

    }
    #titre{
        margin-left: 10px;
        margin-top: 30px;
        margin-bottom: 0px;
        padding-left: 10px;
    }
    
       #liens ul{
       width: 380px;
        flex-wrap: wrap;
        padding-left: 2px;
        padding-right: 15px;
           }

    #information  {
     text-align: justify;   
     }

     #Recherche{
       width: 380px;
   }
  

   #conteneur
{
    flex-direction: column;
    width: 380px;
    height: 1850px;
    background-color:white;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 0px ;
    padding-left: 3px;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 0px;
    
}
#conteneur h3{
    margin-left: 0px;
    padding-left: 0px;
    font-size: 1.3em;
}
#conteneur h4{
    margin-top: 5px;
    font-size: 1.2em;
}

   #booking1{
   width: 340px;
   height: 900px;
   flex-direction: row;
   padding-bottom: 0px;
   }
   #booking2{
    width: 340px;
    height: 900px;
    flex-direction: row;
    
    }
    .card1, .card2, .card3, .card4, .card5, .card6 {
    height: 270px;
    margin-bottom: 10px;
    margin-left: 0px;
    flex-grow: 1;
    flex-shrink: 1; 
    box-shadow: 3px 3px 6px rgb(173, 167, 167);     
    }

    #conteneur img {
   
        width: 330px;  
        height: 130px;
    }
    section {
        flex-direction: column-reverse;
        margin-top: 230px;
        width: 380px;
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    
    }
    
   aside
   {
       width: 420px;
       margin-bottom: 5px;
       margin-top: 50px;
       margin-left: 0px;
       margin-right: 0px;
       height: 620px;
   }
   #top-aside p{
       margin-left: 7px;
       font-size: 1em;
       text-align:left;
       padding-top: 0px;


   }
   #chart-line{
       margin-right: 10px;
   }
   .card7, .card8, .card9{
       height: 160px;
       margin-left: 15px;
       margin-right: 0px;
       width: 380px;
   }

   aside img {
   
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    justify-content: center;
    object-fit: cover;
    height: 150px;
    width: 150px;
    }

    #stars7{
        padding-top: 20px;
    }
    #stars8{
        padding-top: 30px;
    }
    #stars9{
        padding-top: 20px;
    }
    .card7 #part2 h3{
        line-height: 20px;
    }
    #part2 p{
        margin-top: 2px;
    }
    #part4 p{
        margin-top: 2px;
    }
    #part6 p{
        margin-top: 2px;
    }

    .card9 #part6 h3
{
line-height: 20px;
padding-bottom: 0px;
}
  #bloc-activites{
      margin-top: 20px;
      margin-left:  0px; 
      margin-right: 10px ;
  }
   #activites {
 flex-direction: column;
 width:400px;
 margin-bottom: 0px;
 margin-left: 0px;
   
}
#act h3{
    margin-top: 70px;
    margin-left: 30px;
    font-size: 1.3em;
}

.card10 a img 
{
    max-height: 150px;
    width:100%;
    max-width: 400px;  
}

#act2{

    flex-direction: column;
}

.card11 a img 
{
    max-height: 150px;
    width: 100%;
    max-width: 400px;  
}


.card12 a img 
{
    max-height: 150px;
    width:100%;
    max-width: 400px;  
}


.card13 a img 
{
    max-height: 150px;
    width:100%;
    max-width: 400px;  
}


.card14 a img 
{
    max-height: 150px;
    width:100%;
    max-width: 400px;  
}


.card15 a img 
{
    max-height: 150px;
    width:100%;
    max-width: 400px;  
}
#act4{flex-direction: column;

    }

    .card10, .card11, .card12, .card13, .card14, .card15 {
    width: 380px;
    margin-bottom: 10px;
    margin-left: 20px;
    
    box-shadow: 3px 3px 6px rgb(173, 167, 167); 
    
}    
        
 
        
footer
{
    width: 420px;
    height: 450px;
    flex-direction: column;
    padding-left: 15px;
     margin-left: 0px;
     margin-right: 0px;
     padding-bottom: 0px;
     text-align: start;
    }
    footer ul {
    text-align: start;
    padding-left: 0px;
    margin-left: 5px;
    margin-right: 0px;
    }

#rang1, #rang2
{
 margin-right: 10px;
 margin-left: 0px;
 text-align: start;
 padding-left: 0px;
}
h4{
    padding-left: 10px;
}

}

@media all and (min-width: 768px) and (max-width: 1023px)
{

    header
    {
        flex-direction: column;
 
    }
    body{
        width: auto;
    }
    #logo img{
       
        width: 30%;
        height: 30%;
    }
    #bloc_page
    {
     margin-left: 15px;
     width: auto; 
     height: 950px;
    } 
    #entete
    {
        flex-direction: row-reverse;
    }
    #ancres
   {
    border-bottom: 3px solid #F2F2F2;
    padding-bottom: 10px;
    text-align: center;
    display: flex;
    margin-left: 0px;
   }
 

   #ancres li a
   {
       padding-left: 150px;
       padding-right: 100px;
       font-size: 1.8em;
   }
   nav li a:hover
{
    color: #0065FC;
    border-bottom: 3px  solid #0065FC;
    padding-bottom: 12px;
    border-top: none;
   
       
}
    nav span{
        position: absolute;
        top: 60px;
        right: 80px;
        font-size: 1.8em;
    
    }
    form {
        border: solid 1px #e6e1e1;
        border-radius: 10px;
        width: 700px;
        height: 80px;
        padding: 0px;
        margin-left: 10px;
        margin-left: 10px;
        display: flex;
    }
    #sous_titre{
        font-size: 1.7em;
    }

     button{
        border-radius: 10px;
        width: 220px;
        margin-left: 0px;
        height: 80px;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-right: 0px;
        padding-top:0px ;
        padding-right: 5px;
        
    }
    .btnRechercher{
        display: initial;
        font-size: 1.7em;
        
    }
    .map {
        background-color: rgb(240, 235, 235);
        color: hsl(214, 78%, 2%);
        border: solid 0px #deebff;
        border-top-left-radius:10px ;
        border-bottom-left-radius: 10px;
        padding: 20px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 2em;
    }
    
    .btnIcon 
    {
        display: none;

    }
    #Recherche h1{ font-size: 2em;}

    #rechercher
    {
        border-width:0px;
        border:none;
        padding-left: 10px;
        font-size: 1.4em;
        width: 350px;
    }
    #information{
        margin-left: 10px;
        margin-right: 10px;
    }
    
    #infor{
        text-align:start;
        font-size: 1.5em;
        width: 800px;
    }
    
    #information i 
    {

    font-size: 200%;
    margin-top: 25px;
    }
  
    #Filtre
    {
        
    flex-direction: column;
    font-size: 2em;
    margin-left: 5px; 
    justify-content: start;
    }
    #titre{
        margin-right: 500px;
        margin-top: 30px;
        margin-bottom: 0px;
    }
       #liens ul{

        flex-wrap: wrap;
        justify-content: right;
        width: 600px;
           }
 section
 {
 width: auto;
 flex-direction:column-reverse;
 margin-top: 30px;
 }
aside
 {
   width: 715px;
   margin-bottom: 5px;
   margin-top: 40px;
   margin-left: 10px;
   margin-right: 10px;
   height: 800px;
     }
     #top-aside {
    margin-left: 15px;
    font-size: 1.5em;
           }
     #chart-line{
        margin-left: 420px;
           }
 .card7, .card8, .card9{
     width: 650px;
     height: 220px;
     margin-left: 30px;
     margin-right: 5px;
     font-size: 1.4em;
           }
           
        
aside img {
           
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
padding-left: 5px;
padding-right: 5px;
padding-top: 10px;
justify-content: center;
object-fit: cover;
height: 200px;
width: 300px;
}
        
 #stars7{
  padding-top: 15px;
            }
 #stars8{
  padding-top: 15px;
 }
 .card9 #part6 h3
 {
 line-height: 20px;
 padding-bottom: 0px;
 }
 .card8 #part4 h3{
  line-height: 30px;
 }

/*  conteneur*/
#conteneur{
    
    width: 705px;
    height: 900px;
    background-color:#F2F2F2;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 5px ;
    padding-left: 5px;
    margin-left: 25px;
    margin-top: 30px;
}
#conteneur h3{
    padding-left: 20px;
    font-size: 1.6em;
}
.card1, .card2, .card3, .card4, .card5, .card6 {
    border: solid 1px #e6e1e1;
    border-radius: 20px;
    background-color: white;
    width: 205px;
    height: 300px;
    margin-right: 15px;
}

#conteneur img {
   width: 185px;
   height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    justify-content: center;
    object-fit: cover;
    }
    #conteneur h4{
        font-size: 1.3em;
    }
 .card1 #parttwo h3{
    line-height: 30px;
    } 
.card2 #partfour h3 {
 padding-top: 30px;
 } 
 .card2 #partfour p {
 padding-top: 30px;
   } 

 .card3 #partsix h3{
 line-height: 30px;
  } 


#booking1 {
    display: flex;
    justify-content: center;
    width: 700px;
    height: 350px;
    margin-right: 5px;
}
#stars2{
    padding-top: 5px;
}

#booking2 {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    width: 700px;
    height: 350px;
}
.card4 #partheight h3{
    margin-top: 50px;
}
.card4 #partheight p{
 margin-top: 50px;
}
#stars4{
    padding-top: 5px;
} 
.card5 #partten h3{
    line-height: 30px;
     } 
.card6 #parttwel h3{
 line-height: 30px;
  } 

#activites {
    flex-direction: column;
    width: 150%;
    margin-bottom: 10px;
    width: auto;
    margin-top: 0px;
    margin-left: 10px;
      
   }
   #act h3{
       margin-top: 0px;
       margin-left: 30px;
       font-size: 1.6em;
   }
   #act P{
    font-size: 1.5em;
}
   .card10 a img 
   {
       max-height: 250px;
       width:100%;
       max-width: 650px;  
   }
   
   #act2 img{
   
      height: 250px;
          }
    #act4 img{
      height: 250px;
                }
   
   .card11 a img 
   {
    max-height: 250px;
    width:100%;
    max-width: 650px;   
   }
   
   
   .card12 a img 
   {
    max-height: 250px;
    width:100%;
    max-width: 650px;   
   }
   
   
   .card13 a img 
   {
    max-height: 250px;
    width:100%;
    max-width: 650px;   
   }
   
   
   .card14 a img 
   {
    max-height: 250px;
    width:100%;
    max-width: 650px;   
   }
   
   
.card15 a img 
 {
 max-height: 250px;
 width:100%;
 max-width: 650px;   
 }
#act4{
flex-direction: column;
   
}
   
 .card10, .card11, .card12, .card13, .card14, .card15 {
 width: 650px;
 margin-bottom: 10px;
 margin-left: 0px;
 box-shadow: 3px 3px 6px rgb(173, 167, 167); 
 margin-left: 10px;    
}


footer
 {margin-top: 0px;
 width: 700px;
 height: 250px;
 flex-direction: row;
 padding-left: 0px;
 margin-left: 15px;
 padding-bottom: 0px;
 text-align: start;
  }
 #rang1{
    margin-right: 20px;
 }
                   
 #rang2{
  margin-right: 20px;
 }

 #rang3{            
 margin-left: 20px; 
}




}
